/target/
!.mvn/wrapper/maven-wrapper.jar


# should not ignored #
!*.java
!*.gitignore
!*.jsp
!*.html
!*.htm
!*.js
!*.css
!*.jpg
!*.gif

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


# database config ignore
*.properties
*.pyc
.idea
.idea/*
.yml

Servers
recruitment-web/target